{% extends "base.html" %}

{% block title %}<title>Log in TaskTrackr</title>{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
{% endblock %}

{% block bdy %}
<body>
    
    <div class="container">
        <h2>Log in</h2>
        <div class="flash-message">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert {{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <form action="/login" method="POST">
            <div class="input-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <p class="redir">Don't have an account yet? <a href="/signup">Sign Up here</a></p>
    </div>
</body>

{% endblock %}